@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-lime: hsl(163, 72%, 41%);
    --primary-red:  hsl(356, 69%, 56%);

    --primary-FB:   hsl(208, 92%, 53%);
    --primary-Twit: hsl(203, 89%, 53%);
    --primary-Inst: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
    --primary-Yout: hsl(348, 97%, 39%);

    --toggle-l:  hsl(210, 78%, 56%);
    --toggle-r:  hsl(146, 68%, 55%);

    --neutral-bg-blue:      hsl(230, 17%, 14%);
    --neutral-top-bg-blue:  hsl(232, 19%, 15%);
    --neutral-card-bg-blue: hsl(228, 28%, 20%);
    --neutral-card-bg-hover: hsl(228, 28%, 30%);
    --neutral-text-grey:    hsl(228, 34%, 66%);
    --neutral-white:        hsl(0, 0%, 100%);
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(1.5rem);
}

.inst {
    border-image:  var(--primary-Inst);
    border-image-slice: 1;
}